body  {
    margin: 0;
    padding: 0;
    
    background-image: url(img/backgroundice.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-attachment:fixed;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-content: center;
}

.vulpix {
    width: 300px;
    height: 500px; 
    
    background-image: url(img/vulpixalola.png);
    background-repeat: no-repeat;
    background-position:center;
    background-attachment:fixed;

    filter: drop-shadow(16px 16px 20px black);
}

@media (orientation : portrait){
    body  {
        margin: 0;
        padding: 0;
        
        background-image: url(img/backgroundvolcano.jpg);
        background-repeat: no-repeat;
        background-position:center;
        background-attachment:fixed;
        background-size: cover;
    
        display: flex;
        justify-content: center;
        align-content: center;
    }
    
    .vulpix {
        width: 300px;
        height: 500px; 
        
        background-image: url(img/vulpix.png);
        background-repeat: no-repeat;
        background-position:center;
        background-attachment:fixed;
        background-size : 65%; 

        filter: drop-shadow(16px 16px 20px black);

    }
}
